# 配置文件
.vscode/

# 二进制文件
build/
bin/
*.bin
*.out
*.o

# 数据文件夹
data/log/*
data/resources/*
data/test/*/*

# 测试数据文件
!data/test/buffer/buffer_read.txt
!data/test/http/request_get.txt
!data/test/http/request_post.txt
!data/test/http/response_resource.txt
!data/test/http/conn_request_fail.txt
!data/test/http/conn_request_success.txt
!data/test/log
